* {
  margin: 0;
  padding: 0;
}

/* border: 1px solid red; */

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.primary-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #ffffff;
}

.primary-btn {
  font-size: 20px;
  font-weight: 600;
  color: #005fac;
  background-color: #ffffff;
  padding: 20px 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* start banner section */
.banner {
  background-image: url("../images/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
}

.banner-content {
  width: 506px;
  margin: 216px 230px 160px 845px;
  text-align: right;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-content button {
  margin-top: 51px;
}
/* end banner section */

/* start failure section */

.failure-content {
  width: 1072px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.failure-image img {
  width: 600px;
}

.failure-info {
  width: 416px;
}

.failure-info h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(21, 20, 20, 1);
  margin-bottom: 24px;
}

.failure-info p {
  color: rgba(68, 67, 67, 1);
  margin-bottom: 16px;
}

.failure-info ul {
  list-style-type: none;
}

.failure-info li {
  margin-bottom: 8px;
  color: rgba(68, 67, 67, 1);
  font-weight: 300;
}

.failure-info li i {
  color: #16d887;
}

/* end failure section */

/* start plans section */
.plans-content {
  width: 71%;
  max-width: 1140px;
  margin: 70px auto 0;
  text-align: center;
}

.plans-content h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  color: rgba(21, 20, 20, 1);
}

.plans-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-info img {
  width: 92px;
  margin-bottom: 24px;
}

.list-info h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgba(21, 20, 20, 1);
}

.list-info p {
  font-size: 25px;
  font-weight: 500;
  color: rgba(115, 114, 114, 1);
}
/* end plans sesction */

/* start mindset section */
.mindset-container {
  background-image: url("../images/gradient1.png"), url("../images/watch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1140px;
  display: flex;
  align-items: center;
  margin: 130px auto;
  border-radius: 8px;
}

.mindset-content {
  width: 459px;
  margin: 69px 617px 59px 64px;
}
.mindset-content h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #ffffff;
}
/* end mindset section */

/* start footer section */
.footer-container {
  background-color: black;
}
.footer-content {
  width: 71%;
  max-width: 1140px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

.footer-social {
  width: 481px;
}

.social-text h3 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #f8f8f8;
}

form {
  width: 325px;
}

.secondery-text {
  font-size: 16px;
  font-weight: 300px;
  margin-top: 16px;
  color: #ffffff;
}

.social-icons {
  margin-top: 32px;
}

.social-icons img {
  margin-right: 18px;
}

form h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 31px;
}

.footer-container form input[type="email"] {
  padding: 22px 104px 22px 21px;
  margin-bottom: 16px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
}

.footer-button {
  background-color: #005fac;
  color: #ffffff;
}
/* end footer section */
