* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.primary-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.primary-btn {
  font-size: 20px;
  font-weight: 600;
  color: #005fac;
  background-color: #ffffff;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* start banner section */
.banner {
  background-image: url("../images/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
}

.banner-content {
  width: 506px;
  margin: 216px 230px 160px 845px;
  text-align: right;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-content button {
  margin-top: 51px;
}
/* end banner section */
