* {
  margin: 0;
  padding: 0;
}

  /* border: 1px solid red; */

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.primary-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.primary-btn {
  font-size: 20px;
  font-weight: 600;
  color: #005fac;
  background-color: #ffffff;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* start banner section */
.banner {
  background-image: url("../images/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
}

.banner-content {
  width: 506px;
  margin: 216px 230px 160px 845px;
  text-align: right;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 24px;
}

.banner-content button {
  margin-top: 51px;
}
/* end banner section */

/* start failure section */

.failure-content {
  width: 1072px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.failure-image img {
  width: 600px;
}

.failure-info {
  width: 416px;
}

.failure-info h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(21, 20, 20, 1);
  margin-bottom: 24px;
}

.failure-info p {
  color: rgba(68, 67, 67, 1);
  margin-bottom: 16px;
}

.failure-info ul {
  list-style-type: none;
}

.failure-info li {
  margin-bottom: 8px;
  color: rgba(68, 67, 67, 1);
}

.failure-info li i {
  color: #16d887;
}

/* end failure section */
